<!doctype html>
<html class="no-js" lang="en">



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Malabar Literature Festival </title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/decon-logo.svg">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">

  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

  <!-- CSS
	============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="/assets/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/flaticon.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/aos.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="/assets/css/style.css">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <!-- carousel Style CSS -->
  <link rel="stylesheet" href="/assets/css/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/css/style.css">
</head>

<body>
  <div class="main-wrapper">

    <!-- Preloader start -->
    <!-- <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div> -->
    <!-- Preloader End -->

    <!-- Header Start -->
    <div class="meeta-header-section meeta-header-2 meeta-header-3">

      <!-- Header Middle Start -->
      <div class="header-middle header-sticky">
        <div class="container">

          <div class="header-wrap">
            <!-- Header Logo Start -->
            <div class="header-logo header-logo-3">
              <a class="logo-black" href="/"><img src="/assets/images/decon-logo.svg" alt="Logo"></a>
              <a class="logo-white" href="/"><img src="/assets/images/decon-logo.svg" alt="Logo"></a>
            </div>
            <!-- Header Logo End -->

            <!-- Header Navigation Start -->
            <div class="header-navigation d-none d-lg-block">
              <ul class="main-menu">
                <li><a href="/">Home</a>

                </li>
                <!-- <li><a href="#">About</a>
                <ul class="sub-menu"> -->
                <li><a href="/event">Events</a></li>

                <!-- <li><a href="/about-Mlf">About MLF</a></li>
                  <li><a href="/about-book-Plus">About Book Plus</a></li> -->
                <!-- </ul>
              </li> -->
                <!-- <li>
                <a href="../assets/pdf/mlf.pdf" target="_blank" attributes-list> Programme </a>
              </li> -->

                <li class="active-menu"><a href="/news">News</a></li>
                <li><a href="/speaker">Speakers</a>
                </li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
            <!-- Header Navigation End -->

            <!-- Header Meta Start -->
            <div class="header-meta">

              <div class="header-btn d-none d-md-block">
                <a href="/register" class="btn-2">Register</a>
              </div>

              <!-- Header Toggle Start -->
              <div class="header-toggle d-lg-none">
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
              <!-- Header Toggle End -->

            </div>
            <!-- Header Meta End -->

          </div>

        </div>
      </div>
      <!-- Header Middle End -->

    </div>
    <!-- Header End -->



    <!-- Offcanvas Start-->
    <div class="bottombarContainer">
      <a href="/">
        <div class="bottomBarLink"><i class="fas fa-home"></i></div>
      </a>
      <a href="/event">
        <div class="bottomBarLink"><i class="fas fa-calendar-alt"></i></div>
      </a>
      <a href="/news" aria-current="page" class="activeContainer">
        <div class="bottomBarLink"><i class="fas fa-newspaper"></i></div>
      </a>
      <a href="/speaker">
        <div class="bottomBarLink"><i class="fas fa-microphone"></i></div>
      </a>
      <a href="/contact">
        <div class="bottomBarLink"><i class="fas fa-address-book"></i></div>
      </a>
      <a href="/register">
        <div class="bottomBarLink"><i class="fas fa-user"></i></div>
      </a>
    </div>


    <!-- Offcanvas End -->
    <div class="updates-section" id="bg-color-purple">
      <div class="header-programe" style="margin-top: 100px;">
        <div class="container">
          <div class="updates-title">
            <h1>updates</h1>
          </div>
          <div class="updates-menu">
            <ul>
              <li>News</li>
              <li>Archive</li>
              <li>Testimonial</li>
              <li>Gallery</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="news-details">
          <% newsData.forEach(newsData=> { %>
            <div class=" row news-details-head">
              <div class="col-12 col-xl-6 news-details-head-img">

                <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ newsData[0].image }` %>" alt="">
              </div>
              <div class="col-12 col-xl-6 ">
                <h1>
                  <%= newsData[0].title %>
                </h1>
                <div class="dates" style="color: #fff;">
                  <h6 style="display: inline; background-color: #E59BFF;">Latest</h6><span class="time"
                    style="display: inline; padding-left: 10px;">32
                    MINUTES AGO</span>
                </div>
                <p>
                  <%= newsData[0].description %>
                </p>
                <!-- <div>
                <a href="/news/<%= newsData._id %>"> <button class="readmore">Read More</button></a>
              </div> -->
              </div>
            </div>
            <% }); %>

              <div class="row news-details-carousel" style="display: flex; margin-top: 50px;">

                <% newsData.forEach(newsData=> { %>

                  <div class="card" style="width: 18rem;" id="bg-color-purple">
                    <img class="card-img-top"
                      src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ newsData.image }` %>"
                      alt="Card image cap" style="border-radius: 10px;">
                    <div class="card-body" style="color: #fff;">
                      <h5 class="card-title">
                        <%= newsData.title %>
                      </h5>
                      <ul style="list-style: none; padding-left: 0;">
                        <li style="display: inline;"> <span style="font-size: 20px; color: #49BDF2;">&bull;</span> 32
                          MINUTES
                          AGO
                        </li>
                      </ul>
                      <P class="card-text-para">
                        <%= newsData.description %>
                      </P>
                      <div>
                        <a href="/news/<%= newsData._id %>"> <button class="readmore">Read More</button></a>
                      </div>
                    </div>
                  </div>

                  <% }); %>

              </div>
        </div>
      </div>


    </div>
  </div>


  <!-- Footer Start -->
  <div class="footer"
    style="background-image: url('../assets/images/sio-footer.svg'); background-size: cover; background-position: center; overflow: hidden; position: relative;">
    <div class="container">
      <div class="footer-sections">
        <div class="footer-malabar-img">
          <img src="../assets/images/decon-lg-footer.svg" alt="">
        </div>
        <div class="links">
          <div class="main-contact">
            <ul>
              <a href="/">
                <li>Home</li>
              </a>
              <div>
                <a href="/event">
                  <li>Events</li>
                </a>
              </div>
              <div>
                <a href="/contact">
                  <li>Contact Us</li>
                </a>
              </div>
            </ul>
          </div>
          <!-- <div class="sections">
           <ul>
             <div>
               <a href="/Privacy">
                 <li>Privacy Policy</li>
               </a>
             </div>
             <div>
               <a href="/Refund">
                 <li>Refund Policy</li>
               </a>
             </div>
             <div>
               <a href="/Terms-Conditions">
                 <li>Terms & Conditions</li>
               </a>
             </div>
           </ul>
         </div> -->

        </div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i> Vidyarthi Bhavanam, <br> Uk Sankunni Rd, Kozhikode, <br> Kerala, india -
          673004 <br>
          098957 75227
        </div>
      </div>
      <hr class="footer-hr">
      <div class="last-section-footer">
        <div class="privacy">
          <p style="color: #000;">@ 2023 De Conquista All Right Reserved |Powered by <span style="font-weight: 700;"><a
                href="https://datahex.in/" target="_blank">DataHex</a></span></p>
        </div>
        <div class="icons">
          <span><i class="fab fa-facebook-f"></i></span>
          <span><i class="fab fa-twitter"></i></span>
          <span><i class="fab fa-linkedin-in"></i></span>
          <span><a href="https://instagram.com/deconquista.sio?igshid=MWZjMTM2ODFkZg==" target="_blank"><i
                class="fab fa-instagram"></i></a></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->

  <!-- back to top start -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- back to top end -->




  <!-- JS
  ============================================ -->

  <!-- carousel & jQuery JS -->

  <script src="../assets/js/js/jquery.min.js"></script>
  <script src="../assets/js/js/owl.carousel.min.js"></script>
  <script src="../assets/js/js/main.js"></script>

  <!-- Modernizer & jQuery JS -->
  <script src="../assets/js/vendor/modernizr-3.11.7.min.js"></script>
  <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>

  <!-- Plugins JS -->
  <script src="../assets/js/swiper-bundle.min.js"></script>
  <script src="../assets/js/back-to-top.js"></script>
  <script src="../assets/js/jquery.magnific-popup.min.js"></script>
  <script src="../assets/js/jquery.counterup.min.js"></script>
  <script src="../assets/js/waypoints.min.js"></script>
  <script src="../assets/js/aos.js"></script>
  <script src="../assets/js/jquery.nice-select.min.js"></script>
  <!-- Main JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
  <script src="../assets/js/main.js"></script>

</body>

</html>