
<!-- ========== Start header ========== -->
<%-include("layouts/header.ejs")%>
<!-- ========== End header ========== -->
<body>
<<<<<<< HEAD
  <div class="main-wrapper">

    <!-- Preloader start -->
    <!-- <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div> -->
    <!-- Preloader End -->

    <!-- Header Start -->
    <div class="meeta-header-section meeta-header-2 meeta-header-3">

      <!-- Header Middle Start -->
      <div class="header-middle header-sticky">
        <div class="container">

          <div class="header-wrap">
            <!-- Header Logo Start -->
            <div class="header-logo header-logo-3">
              <a class="logo-black" href="/"><img src="/assets/images/decon-logo.svg" alt="Logo"></a>
              <a class="logo-white" href="/"><img src="/assets/images/decon-logo.svg" alt="Logo"></a>
            </div>
            <!-- Header Logo End -->

            <!-- Header Navigation Start -->
            <div class="header-navigation d-none d-lg-block">
              <ul class="main-menu">
                <li><a href="/">Home</a>

                </li>
                <!-- <li><a href="#">About</a>
                <ul class="sub-menu"> -->
                <li><a href="/event">Events</a></li>

                <!-- <li><a href="/about-Mlf">About MLF</a></li>
                  <li><a href="/about-book-Plus">About Book Plus</a></li> -->
                <!-- </ul>
              </li> -->
                <!-- <li>
                <a href="../assets/pdf/mlf.pdf" target="_blank" attributes-list> Programme </a>
              </li> -->

                <li class="active-menu"><a href="/news">News</a></li>
                <li><a href="/speaker">Speakers</a>
                </li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
            <!-- Header Navigation End -->

            <!-- Header Meta Start -->
            <div class="header-meta">

              <div class="header-btn d-none d-md-block">
                <a href="/register" class="btn-2">Register</a>
              </div>

              <!-- Header Toggle Start -->
              <div class="header-toggle d-lg-none">
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
              <!-- Header Toggle End -->

            </div>
            <!-- Header Meta End -->

          </div>

        </div>
      </div>
      <!-- Header Middle End -->

    </div>
    <!-- Header End -->



    <!-- Offcanvas Start-->
    <div class="bottombarContainer">
      <a href="/">
        <div class="bottomBarLink"><i class="fas fa-home"></i></div>
      </a>
      <a href="/event">
        <div class="bottomBarLink"><i class="fas fa-calendar-alt"></i></div>
      </a>
      <a href="/news" aria-current="page" class="activeContainer">
        <div class="bottomBarLink"><i class="fas fa-newspaper"></i></div>
      </a>
      <a href="/speaker">
        <div class="bottomBarLink"><i class="fas fa-microphone"></i></div>
      </a>
      <a href="/contact">
        <div class="bottomBarLink"><i class="fas fa-address-book"></i></div>
      </a>
      <a href="/register">
        <div class="bottomBarLink"><i class="fas fa-user"></i></div>
      </a>
    </div>


    <!-- Offcanvas End -->
=======
>>>>>>> origin/main
    <div class="updates-section" id="bg-color-purple">
      <div class="header-programe" style="margin-top: 100px;">
        <div class="container">
          <div class="updates-title">
            <h1>updates</h1>
          </div>
          <div class="updates-menu">
            <ul>
              <a href="/news">
                <li class="active">News</li>
              </a>
              <a href="/Article">
                <li>Article</li>
              </a>
              <a href="/testimonial">
                <li>Testimonial</li>
              </a>
              <a href="/gallery">
                <li>Gallery</li>
              </a>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="news-details">
            <div class=" row news-details-head">
              <div class="col-12 col-xl-6 news-details-head-img">

<<<<<<< HEAD
                <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ newsData.image }` %>" alt=""
                  id="newsImage">
              </div>
              <div class="col-12 col-xl-6 ">
                <h1 id="newsTitle">
                  <%= newsData.title %>
=======
                <img src="/assets/images/worshop.png" alt="">
              </div>
              <div class="col-12 col-xl-6 ">
                <h1>
                  sdjskjdvsnkjdn
>>>>>>> origin/main
                </h1>
                <div class="dates" style="color: #fff;">
                  <h6 style="display: inline; background-color: #E59BFF;">Latest</h6>sdvsdvsdvsdvsvd<span class="time"
                    style="display: inline; padding-left: 10px;">32
                    MINUTES AGO</span>
                </div>
<<<<<<< HEAD
                <p id="modalNewsDescription">
                  <%= newsData.description %>
=======
                <p>
>>>>>>> origin/main
                </p>
                <!-- <div>
                <a href="/news/<%= newsData._id %>"> <button class="readmore">Read More</button></a>
              </div> -->
              </div>
            </div>

              <div class="row news-details-carousel" style="display: flex; margin-top: 50px;">


                  <div class=" col-12 col-xl-4" id="bg-color-purple">
                    <img class="card-img-top"
                      src=""
                      alt="Card image cap" style="border-radius: 10px;">
                    <div class="card-body" style="color: #fff;">
                      <h5 class="card-title">
                        
                      </h5>
                      <div class="dates" style="color: #fff;">
                        <h6 style="display: inline; background-color: #E59BFF;">Latest</h6><span class="time"
                          style="display: inline; padding-left: 10px;">32
                          MINUTES AGO</span>
                      </div>
                      <P class="card-text-para">
                        
                      </P>
<<<<<<< HEAD
                      <!-- <div>
                        <a href="/news/<%= newsData._id %>"> <button class="readmore">Read More</button></a>
                      </div> -->
=======
                      <div>
                        <a href="/news"> <button class="readmore">Read More</button></a>
                      </div>
>>>>>>> origin/main
                    </div>
                  </div>
              </div>
        </div>
      </div>
<<<<<<< HEAD
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <img src="" alt="News Image" id="modalNewsImage">
          <h1 id="modalNewsTitle"></h1>
          <p id="modalNewsDescription"></p>
        </div>
      </div>

    </div>
  </div>


  <!-- Footer Start -->
  <div class="footer"
    style="background-image: url('../assets/images/sio-footer.svg'); background-size: cover; background-position: center; overflow: hidden; position: relative;">
    <div class="container">
      <div class="footer-sections">
        <div class="footer-malabar-img">
          <img src="../assets/images/decon-lg-footer.svg" alt="">
        </div>
        <div class="links">
          <div class="main-contact">
            <ul>
              <a href="/">
                <li>Home</li>
              </a>
              <div>
                <a href="/event">
                  <li>Events</li>
                </a>
              </div>
              <div>
                <a href="/contact">
                  <li>Contact Us</li>
                </a>
              </div>
            </ul>
          </div>
          <!-- <div class="sections">
           <ul>
             <div>
               <a href="/Privacy">
                 <li>Privacy Policy</li>
               </a>
             </div>
             <div>
               <a href="/Refund">
                 <li>Refund Policy</li>
               </a>
             </div>
             <div>
               <a href="/Terms-Conditions">
                 <li>Terms & Conditions</li>
               </a>
             </div>
           </ul>
         </div> -->

        </div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i> Vidyarthi Bhavanam, <br> Uk Sankunni Rd, Kozhikode, <br> Kerala, india -
          673004 <br>
          098957 75227
        </div>
      </div>
      <hr class="footer-hr">
      <div class="last-section-footer">
        <div class="privacy">
          <p style="color: #000;">@ 2023 De Conquista All Right Reserved |Powered by <span style="font-weight: 700;"><a
                href="https://datahex.in/" target="_blank">DataHex</a></span></p>
        </div>
        <div class="icons">
          <span><i class="fab fa-facebook-f"></i></span>
          <span><i class="fab fa-twitter"></i></span>
          <span><i class="fab fa-linkedin-in"></i></span>
          <span><a href="https://instagram.com/deconquista.sio?igshid=MWZjMTM2ODFkZg==" target="_blank"><i
                class="fab fa-instagram"></i></a></span>
        </div>
      </div>
=======
>>>>>>> origin/main
    </div>
  </div>
<!-- ========== Start Section ========== -->
<%-include("layouts/footer.ejs")%>
<!-- ========== End Section ========== -->
</body>